/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    height: 92vh;

	background-color: black;
	text-align: center;
}

p {
	width: 560px;
	text-align: center;
}

#closed-captions {
    grid-column-start: 2;
    grid-row-start: 3;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

iframe {
    grid-column-start: 2;
    grid-row-start: 2;
	clip-path: inset(77px 0px 74px 0px);
	transform: scale(1.3);
}

.voice1 {
	font-family: "Brenner Mono";
	font-style: Normal;
	font-weight: 800;
	border: 1px solid white;
	padding: .5em;
	color: white;
}

.voice2 {
	font-family: "Brenner Slab";
	font-style: Bold;
	font-weight: 800;
	border: 1px solid white;
	padding: .5em;
	color: white;
}

.voice3 {
	font-family: "Brenner Sans";
	font-style: Normal;
	font-weight: 1000;
	background-color: black;
	border: 1px solid white;
	padding: .5em;
	color: red;
}

/* ***************
paragraph 41
*************** */
.p41 {
	animation-name: blink;
	animation-duration: 0.5s;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-top: -3em;
}

/* ***************
paragraph 42
*************** */
.p42 {
	animation-name: blink;
	animation-duration: 0.5s;
	margin-top: -2em;
	border: none;
}

/* ***************
paragraph 43
*************** */
.p43 {
	animation-name: blink;
	animation-duration: 0.5s;
	margin-top: 1.1em;
	border: none;
}



/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


/* NEON EFFECT TEXT bron: https://css-tricks.com/how-to-create-neon-text-with-css/*/
p {
	color: #fff;
	text-shadow:
	  0 0 7px #fff,
	  0 0 10px #fff,
	  0 0 21px #fff,
	  0 0 42px #0fa,
	  0 0 82px #0fa,
	  0 0 92px #0fa,
	  0 0 102px #0fa,
	  0 0 151px #0fa;
  }



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

.sound0 {
    animation-name: shakeframe;
    animation-duration: 1.5s;
}
.sound0::before {
    content: "[cinematic drums]";
	animation-name: cinematicdrumscaption;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	font-size: 22px;
	color: #0fa;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 1.5em;
}
.sound1 {
	background-color: black;
	animation-name: pulse;
	animation-duration: 1s;
}
.sound1::before {
    content: "[loud alarm]";
	animation-name: loudalarmcaption;
	animation-duration: 1s;
}
.sound1 iframe {
	animation-name: alarm;
	animation-duration: 1s;
}
.sound2 {
	animation-name: sirene;
	animation-duration: 1.2s;
}
.sound2::before {
    content: "[sirene]";
	animation-name: sirenecaption;
	animation-duration: 1.2s;
}
.sound3 {
	animation-name: shakeframe;
	animation-duration: .8s;
}
.sound3::before {
    content: "[whispering swearing]";
	animation-name: whisperingswearingcaption;
	animation-duration: 1.2s;
}
.sound4 {
	animation-name: piep;
	animation-duration: 1s;
}
.sound4::before {
    content: "[high beep sound]";
	animation-name: highbeepcaption;
	animation-duration: 1.2s;
}
.sound5 {
	animation-name: none;
}
.sound5::before {
	animation-name: none;
}
.sound6 {
	animation-name: piep;
	animation-duration: 1s;
}
.sound6::before {
    content: "[high beep sound]";
	animation-name: highbeepcaption;
	animation-duration: 1.2s;
}
.sound7 {
    animation-name: shakeframe;
    animation-duration: 1.5s;
}
.sound7::before {
    content: "[cinematic drums]";
	animation-name: cinematicdrumscaption;
	animation-duration: 1.2s;
}
.sound8 {
	animation-name: piep;
	animation-duration: 1s;
}
.sound8::before {
    content: "[high beep sound]";
	animation-name: highbeepcaption;
	animation-duration: 1.2s;
}
.sound9 iframe { 
	animation-name: annoying;
	animation-duration: 42s;
}
.sound9::before {
    content: "[begin of high tone]";
	animation-name: hightonecaption;
	animation-duration: 1.5s;
}
.sound10::before {
    content: "[high tone stopped]";
	animation-name: hightonestoppedcaption;
	animation-duration: 1.5s;
}
.sound11 iframe {
	animation-name: cropframe;
	animation-duration: 45s;
}
.sound11::before {
    content: "[begin of high tone]";
	animation-name: hightonecaption;
	animation-duration: 1.5s;
}
.sound12::before {
    content: "[high tone stopped]";
	animation-name: hightonestoppedcaption;
	animation-duration: 1.5s;
}

@keyframes cinematicdrumscaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes loudalarmcaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes sirenecaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes whisperingswearingcaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes highbeepcaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes cinematicdrumscaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes hightonecaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes hightonestoppedcaption {
	0% {
	 opacity: 1;
	} 
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
  }

  @keyframes shakeframe {
	0% {
		transform: translate(1px 1px) rotate(1deg);
	}
	5% {
		transform: translate(-1px -2px) rotate(-1deg);
	}
	10% {
		transform: translate(-3px 0px) rotate(1deg);
	}
	15% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	20% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	25% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	30% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	35% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	40% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	45% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	50% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
	55% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	60% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	65% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	70% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	75% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	80% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	85% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	90% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	95% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	100% {
		transform: translate(1px, 2px) rotate(0deg);
	}
}

@keyframes pulse {
	0% {
		background-color: black;
	}
	50% {
		background-color: red;
	}
	100% {
		background-color: black;
	}
}

@keyframes alarm {
	0% {
	  transform: scale(1);
	} 
	50% {
	  transform: scale(1.3);
	}
	100% {
	  transform: scale(1);
	}
  }

  @keyframes hightone {
	0% {
	  transform: scale(1);
	} 
	50% {
	  transform: scale(1.5);
	}
	100% {
	  transform: scale(1);
	}
  }

	@keyframes sirene {
		0% {
			background: black;
		}
		20% {
			background-image: linear-gradient(to right, red, black);
		}
		40% {
			background-image: linear-gradient(to left, red, black);
		}
		60% {
			background-image: linear-gradient(to right, red, black);
		}
		80% {
			background-image: linear-gradient(to left, red, black);
		}
		100% {
			background-image: radial-gradient(to right, red, black);
		}
	  }

  @keyframes piep {
	0% {
		transform: translateY(0);
		background-image: radial-gradient(circle 10px, red, black);
	}
	50% {
		transform: translateY(-15%);
		background-image: radial-gradient(circle 750px, red, black);
	}
	100% {
		transform: translateY(0);
		background-image: radial-gradient(circle 10px, red, black);

	}
}

@keyframes blink {
	0% {
		opacity: 100%;
	   } 
	   50% {
		   opacity: 0%;
		}
	   100% {
		   opacity: 100%;
	   }
}

@keyframes zoomin {
	0% {
	  transform: scale(100%);
	} 
	95% {
	  transform: scale(130%);
	}
	100% {
	  transform: scale(100%);
	}
  }

@keyframes cropframe {
	0% {
		clip-path: inset(77px 0px 74px 0px);
		transform: translate(0);
	} 
	30% {
		transform: translateX(-50%);
	} 
	60% {
		transform: translateX(50%);
	} 
	90% {
		transform: translateX(0);
	} 
	95% {
		clip-path: inset(77px 160px 74px 160px);
	}
	100% {
		clip-path: inset(77px 0px 74px 0px);
	}
  }

  @keyframes annoying {
	0% {
		clip-path: inset(77px 0px 74px 0px);
	} 
	95% {
		clip-path: inset(77px 160px 74px 160px);
	}
	100% {
		clip-path: inset(77px 0px 74px 0px);
	}
  }